span#friends.onFriendsPage { 
	left: 0;
	top: 5em;
}

span#no_friends {
	position: fixed;
	padding: 1em; 
	min-width: 30%;
	max-width: 47%;
	max-height: 70%;
	overflow: auto;
	top: 5em;
	color: #008A00;
	left: 0;
	background-color: rgba(205,205,205,.7);
	text-shadow: 1px 1px 1px #130709;
}

span#friend_requests {
	position: fixed;
	padding: 1em;
	min-width: 30%;
	max-width: 47%;
	max-height: 70%;
	overflow: auto;
	top: 5em;
	color: #008A00;
	right: 0;
	background-color: rgba(205,205,205,.7);
	text-shadow: 1px 1px 1px #130709;
}

